body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

header > button {
    font-size: medium;
    width: 100px;
}

.grid {
    display: flex;
    justify-content: center;
}

.column {
    border: 1px solid black;
}

.row {
    border: 1px solid black;
    width: 40px;
    height: 40px;
}
