body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid {
    display: flex;
    justify-content: center;
}

.column {
    border: 1px solid black;
}
.row {
    border: 1px solid black;
    width: 40px;
    height: 40px;
}
